@import '../../css/variables.css';

.character-comics {
    width: 100%;
    padding: var(--details-info-horizontal-padding);
    display: flex;
    justify-content: center;
}

.comics-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    padding: var(--standard-vertical-padding);
    gap: 24px;
}

@media (min-width: 767px) {
    body:has(.character-resume) header {
        border-bottom: 1px solid #333333;
    }
}